
<!--<div id="podcastPopup" class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-content">
        <div class="row ">
            <div class="col-12">
                <img class="logo" src="/images/podcast_logo.svg" />
            </div>
            <div class="col-12 title-section">
                <p class="title-top">LAUNCHING</p>
                <p class="title">The Cloud Native<br/>Rejekts Podcast!</p>
            </div>
            <div class="col-12">
                <p class="description">In this podcast series, we talk with the iconoclastic inventors behind the Cloud Native Revolution. These are the people who “think different” - who Rejekt the status quo, and in so doing dare to risk Rejektion.</p>
                <a class="header__button button link-button" href="https://anchor.fm/kinvolk">Listen to the Podcast</a>
            </div>
            <div class="col-12 subscribe">
                <p class="description">Want to get the episodes first?<br/>Sign up for our mailing list!</p>
                <form class="mlform" action="https://kinvolk.us14.list-manage.com/subscribe/post?u=1357cb4149750098f861b3a0d&id=5e68eeb067" target="_blank" method="post">
                    <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Your email address" />
                    <button type="submit" class="button--submit-white" />
                </form>
            </div>
        </div>
    </div>
</div> -->
