<section class="tickets" id="tickets">
    <div class="tickets__container">
        <h2 class="tickets__title">Tickets</h2>
        {{- if .event.admission_free -}}
                <h2 style="font-size: 300%; padding-bottom:30pt;">Tickets are free!</h2>
        {{- else if .event.tickets_url -}}
            <div class="tickets__card">
                <div class="tickets__name">Type</div>
                <div class="tickets__price">Early</div>
                <div class="tickets__price">Standard</div>
                <div class="tickets__price">Late</div>
            </div>
            {{ range .event.tickets }}
            <div class="tickets__card">
                <div class="tickets__name">{{ humanize .type }}</div>
                <div class="tickets__price">{{ .price.early }}</div>
                <div class="tickets__price">{{ .price.standard }}</div>
                <div class="tickets__price">{{ .price.late }}</div>
            </div>
            {{ end }}
        {{ end }}
        {{- if eq .event.state "archived" -}}
        <a class="header__button2 button button--header" href="">Ticketing closed</a>
        {{- else if .event.tickets_url -}}
        <a class="header__button2 button button--header" href="{{ .event.tickets_url }}">Secure Your Spot
            Today</a>
        {{- else -}}
        <a class="header__button2 button button--header" href="">Tix available soon</a>
        {{- end -}}
        {{ with .event.diversity_form }}
            or register for a <a class="header__button2 button button--header" href="{{.}}">Diversity ticket</a>
        {{ end }}
    </div>
</section>
